---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Consent' id='johnsmith-consent-org-acme-insurance' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Consent/johnsmith-consent-org-acme-insurance - Change History</h2>
  <p>History of changes for johnsmith-consent-org-acme-insurance {{type | downcase}}.</p>

  {%include Consent-johnsmith-consent-org-acme-insurance-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
