---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Practitioner' id='practitioner-bernard-shuman' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Practitioner/practitioner-bernard-shuman - Change History</h2>
  <p>History of changes for practitioner-bernard-shuman {{type | downcase}}.</p>

  {%include Practitioner-practitioner-bernard-shuman-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
